.App {
  text-align: center;
}

.App-header {
  background-color: #1d354d;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchBar {
  width: 50%;
  margin-left: 25%;
}

.clicksImpressions {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 25%;
}

.clicks,
.impressions {
  color: red;
}

.groupStyles {
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
}

.groupBadgeStyles {
  background-color: "#EBECF0";
  border-radius: "2em";
  color: "#172B4D";
  display: "inline-block";
  font-size: 12;
  font-weight: "normal";
  line-height: "1";
  min-width: 1;
  padding: "0.16666666666667em 0.5em";
  text-align: "center";
}
